<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails du Patient</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gestion de rendez-vous</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/rdv}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/creneaux}">Listes des Creneaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/medecins}">Listes des medecins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/patients}" tabindex="-1" aria-disabled="true">Liste des patients</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-3">Détails du Patient</h1>
        <p>ID: <span th:text="${patient.id}">1</span></p>
        <p>Nom: <span th:text="${patient.nom}">Nom</span></p>
        <p>Prénom: <span th:text="${patient.prenom}">Prénom</span></p>
        <p>Email: <span th:text="${patient.email}">Email</span></p>
        <p>Date de naissance: <span th:text="${patient.dateDeNaissance}">Date de naissance</span></p>
        <p>Titre: <span th:text="${patient.titre}">Titre</span></p>
        <a th:href="@{/patients}" class="btn btn-primary my-4">Retour à la liste</a>
    </div>
</body>
</html>
