<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer un nouveau Médecin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gestion de rendez-vous</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/rdv}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/creneaux}">Listes des Creneaux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/medecins}">Listes des medecins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/patients}" tabindex="-1" aria-disabled="true">Liste des patients</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="my-3">Créer un nouveau Médecin</h1>
        <form th:action="@{/medecins}" th:object="${medecin}" method="post" class="card-body">
            <div class="form-group">
                <label for="titre">Titre:</label>
                <input type="text" id="titre" name="titre" th:field="*{titre}" />
            </div>

            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" th:field="*{nom}" />
            </div>

            <div class="form-group">
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" th:field="*{prenom}" />
            </div>

            <button type="submit" class="btn btn-secondary">Créer</button>
        </form>
        <a th:href="@{/medecins}" class="btn btn-primary my-4">Retour à la liste</a>
    </div>
</body>
</html>
